<title>
Tiny App!
</title>

<link href="styles/application.css" rel="stylesheet">



<form method="POST" action="/login">
<input type = "text" name = "username">
<input type="submit" value="Sign In">
</form>