<!DOCTYPE html>
<html lang="en">
<head>
  <title> <%= include('./partials/_header') %> </title>
</head>
<body>

<% for (key in urls) { %>
  <li>Short URL: <%= key %>
  <li>Long URL: <%= urls[key] %></li>
  <form method="POST" action="/urls/<%=key%>/delete">
    <label>Delete: </label>
    <input type="submit" value="Delete">
  </form>
  <br>
<% } %>

<!-- <a href="url">Shorten a new URL</a> -->



</body>
</html>