<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <title>Tiny App!</title>
    <br>
    <br>
    <br>
    <form action="/login" method="POST" style="margin:150px;">
      <label> Log in! </label>
      <br>
      <br>
      <label> Email:  &nbsp; &nbsp;  &nbsp; &nbsp;</label>
      <input type="email" name="email">
      <br>
      <label> Password: &nbsp; </label>
      <input type="password" name="password">
      <br>
      <br>
      <input type="submit" value="Login">
    </form>
  </body>
</html>